nav.navbar
	div.container
		a(href='/', class='logo', alt='Pet Plates')
		if !user
			a(href='/login', class="login") Login 
		if user
			a(href='#', class="username logout")= user.username
				ul
					li
						a(href='/users/#{user.username}', class="username2 logout")= "My Profile"
						a(href='/logout', class="logout") Logout
		a(href='/recipes/new', class='submit') Submit a Recipe
			
			