extends ../layouts/master

block content
  form(class='form' id='new-recipe-form' method='post' action='/recipes/new' enctype='multipart/form-data')
    legend Submit a Recipe
    p
      label Name
      input(type='text' name='title')
    p.descriptionnn
      label Description
      input(type='textarea' name='description')
    p
      label Prep Time (minutes)
      input(type='text' name='prep_time')
    p
      label Cook Time (minutes)
      input(type='text' name='cook_time')
    p
      label Servings
      input(type='text' name='servings')
    div.ingredients
      ul
        label Ingredients
        li
          input(type='text' name='ingredients' id='ingredient')
          span.remove-ingredient Remove
      p.add-ingredient Add another ingredient
    div.directions
      ul
        label Directions
        li
          input(type='textarea' name='directions' id='direction')
          span.remove-direction Remove
      p.add-direction Add another direction
    p.label
      label Type
      select(name='animal')
        option(value='0') Choose...
        option(value='dog') Dog
        option(value='cat') Cat
    p
      label Tags
      input(type='text' name='tags')
      p.tip Separated by comma
    p
      label Image
      input(type='file' id='image' name='image')
    p
      input(type='submit' value='Submit' id='new-recipe-button')
